<html>
    <head>
        <title>CritConfirmed</title>
    </head>
    <body>
        <ul>
            <li>Home</li>
            <li>Characters</li>
        </ul>
        @RenderBody()
        <hr />
    </body>
</html>